/* Public CSS for Shortcodes */
.pw-mailto-link {
    display: inline-block;
    text-decoration: none;
}

.pw-btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #2271b1;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.pw-btn:hover {
    background-color: #135e96;
    color: #fff;
}
